Discovery.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT GAME ( USERMANAGER+ ) >
<!ATTLIST GAME name NMTOKEN #REQUIRED >
<!ATTLIST GAME id NMTOKEN #REQUIRED >

<!ELEMENT PARAMETER EMPTY >
<!ATTLIST PARAMETER tag NMTOKEN #REQUIRED >
<!ATTLIST PARAMETER value NMTOKEN #REQUIRED >

<!ELEMENT USERMANAGER ( PARAMETER+, LOGINMODULE+ ) >
<!ATTLIST USERMANAGER clientclass NMTOKEN #REQUIRED >

<!ELEMENT DISCOVERY ( GAME+ ) >

